.pokeball {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    gap: 8rem;
    position: relative;
}

.popup_label {
    font-size: 120%;
}

.popup__wrapper {
    display: flex;
    flex-direction: column;
    background: red;
    gap: 4rem;
}

.popup_input {
    background: none;
    border: none;
    color: #eee;
    position: absolute;
    left: 70%;
    background: blue;
    font-size: 100%;
    z-index: 99;
    border-bottom: 0.2rem solid #eee;
    outline: none;
}

.popup_button {
    width: 12rem;
    height: 5rem;
    font-size: 100%;
    border: none;
    font-family: sans-serif;
    color: darkcyan;
}

.pokeball_up {
    background-color: #FF1A1A;
    width: 50rem;
    border: 1rem solid #33363A;
    position: absolute;
    box-shadow: inset 0px 10px 0px 20px #D60909;
    left: 0;
    height: 50rem;
    border-radius: 50%;
}

.pokeball_down {
    background: white;
    width: 50rem;
    border: 1rem solid #33363A;
    height: 25rem;
    z-index: 1;
    box-shadow: inset 20px 10px 0px 20px #D8E5EA;
    bottom: 0;
    position: absolute;
    left: 0;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
}

.pokeball_middle {
    height: 15rem;
    width: 95%;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    outline: 1rem solid #33363A;
    border-radius: 50%;
    background: #80949B;
}

.pokeball_button {
    width: 11rem;
    height: 11rem;
    background: #eee;
    z-index: 10;
    border-radius: 50%;
    outline: 1rem solid #33363A;
    position: absolute;
    top: -45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeball_button:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.pokeball_button_inner {
    width: 7rem;
    height: 7rem;
    z-index: 10;
    border-radius: 50%;
    outline: 0.6rem solid #33363A;
}

.pokeball_middle:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1rem;
    background: #33363A;
    content: "";
    width: 100%;
    display: block;
}

.pokeball_middle_up {
    height: 15.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2%;
    background-color: #3E5054;
    border-radius: 50%;
    clip-path: inset(0% 0% 50% 0%);
}