* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	
}

body {
	font-size: 2rem;
	font-family: sans-serif;
	color: #eee;
	background: url(../../img/Pixel.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 2rem;
}

#root {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	
	align-items: center;

}

a, a:visited, a:link, a:active {
	text-decoration: none;
	color: #eee;
}