* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	
}

body {
	font-size: 2rem;
	padding: 2rem;
	font-family: sans-serif;
	color: #eee;
	background: linear-gradient( #E14D2A, #FD841F);
	background-position: center;
}

::-webkit-scrollbar {
	display: none;
}

#root {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a, a:visited, a:link, a:active {
	text-decoration: none;
	color: #eee;
}