.dashboard__wrapper {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset -1rem 0 5rem 0 #212121;

}

.dashboard__nav {
    font-size: 130%;
}

.dashboard__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.dashboard__li {
    font-size: 2.2rem;
}

.dashboard__link {
    display: flex;
}

.dashboard__button {
    width: 15rem;
    height: 5rem;
    font-size: 85%;
    background: #eee;
    border: none;
    color: #212121;
    transition: 2s all;
}

.dashboard__message {
    width: 2rem;
    height: 2rem;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 75%;
    transform: translateX(10px);
}

@media screen and (max-width: 1000px) {
    .dashboard__li {
        font-size: 2rem;
    }

    .dashboard__wrapper {
        flex-direction: row;
    }
}