.productsWrapper {
    padding: 4rem;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}

.header__h1 {
    font-size: 300%;
}

.productsList {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.products__logo {
    width: 30%;
}

.productsList__item {
    width: 25rem;
    height: 35rem;
    display: flex;
    border: 0.4rem dashed rgb(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    transition: 0.4s all;
}

.productsList__item--gray:hover {
    cursor: pointer;
    filter: grayscale(1);
}

.productsList__button {
    width: 8rem;
    height: 8rem;
    color: #212121;
    border-radius: 50%;
    font-size: 150%;
    border: none;
    outline: none;
    background-color: #eee;
}
 
.productsList__text {
    font-size: 80%;
}

.productsList_img {
    height: 40%;
    width: 40%;
    object-fit: cover;
}

.productsList__imageText {
    position: absolute;
    left: 37%;
    bottom: 2rem;
}

@media screen and (max-width: 1000px){
    .header {
        display: flex;
        justify-content: center;
    }
}